/* цвет основного текста #212121 */
/* цвет вторичного текста  #757575 */
/* акцент  #2196f3 */
/* вторичный акцент (цвет текста героя)  #ffffff */
/* цвет текста электронных контактов в футере rgba(255, 255, 255, 0.6) */
/* бекграунд хедера #ffffff*/
/* бекграунд героя и футера #2F303A */
/* бекграунд основной #E5E5E5*/
/* бекграунд вторичный (команда компании, кнопки) #F5F4FA */

/*позиционирование на секции сотрудкики за работой*/

/*конец позиционирования*/

/* новая секция*/

/*
.btn-for-mailing::after {
  position: absolute;
  content: "";
  background-image: url(../image/icon-send.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
*/

/* my backdrop*/

/* end my backdrop*/
