.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 609px;
  background: var(--secondary-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200 px) {
    width: 528px;
    height: 581px;
  }
}
.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--bg-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:focus svg {
    fill: var(--accent-color);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* описание формы модального окна*/
.form-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 40px 40px 0px 40px;
  margin: 0;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 12px 40px 40px 40px;
}
.modal-form-label {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  & + & {
    padding-top: 10px;
  }
}
.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    & + .modal-form-icon {
      fill: var(--accent-color);
    }
  }
}

.modal-for-comment {
  margin-top: 4px;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.modal-icon-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-icon {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(-50%, -50%);
}
.my-checkmark {
  position: absolute;
  width: 11px;
  height: 8px;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  fill: var(--secondary-accent-color);
}
.modal-for-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  &::placeholder {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.contact-form-policy-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 8px;
    background-image: url(../image/square.svg);
    .modal-form-policy:checked + & {
      background-color: var(--accent-color);
      background-image: url(../image/my-mark.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .contact-form-policy-label {
    font-size: 12px;
    line-height: 1.71;
  }
}
.agreement-condition {
  display: flex;
  color: var(--accent-color);
}
.modal-form-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  padding: 10px 55px 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: auto;
}
