.section {
  padding-top: 60px;
  margin-bottom: 0px;
}
.section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  align-items: center;
  text-align: center;
}
.section-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  padding: 0px;
}
.list-box-first {
  width: 450px;
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-color: var(--bg-secondary);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
.list-item-svg1 {
  &::before {
    background-image: url(../image/svg1.svg);
  }
}
.list-item-clock2 {
  &::before {
    background-image: url(../image/clock2.svg);
  }
}
.list-item-diagram3 {
  &::before {
    background-image: url(../image/diagram3.svg);
  }
}
.list-item-astronaut4 {
  &::before {
    background-image: url(../image/astronaut4.svg);
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    text-align: left;
  }
  .list-box-first {
    width: 354px;
    &:nth-child(even) {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .list-box-first {
    width: 270px;
    & + & {
      margin-left: 30px;
      padding: 0px;
    }
  }
}
//.section {
// padding-top: 94px;
// margin-bottom: 0px;
//}
//.benefits {
// display: flex;
//}
//.list-box-first {
// width: 270px;
// & + & {
//   margin: 0px 0px 0px 30px;
//   padding: 0px;
// }
// &::before {
//  display: block;
//   content: "";
//   height: 120px;
//   background-color: var(--bg-secondary);
//   background-size: 70px 70px;
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 4px;
//   margin: 0px 0px 30px 0px;
//}
//}

//.list-item-svg1 {
// &::before {
//   background-image: url(../image/svg1.svg);
// }
//}
//.list-item-clock2 {
// &::before {
//   background-image: url(../image/clock2.svg);
// }
//}
//.list-item-diagram3 {
//  &::before {
//   background-image: url(../image/diagram3.svg);
// }
//}
//.list-item-astronaut4 {
// &::before {
//  background-image: url(../image/astronaut4.svg);
//}
//}

//.section-title {
// font-size: 14px;
// line-height: 1.14;
// text-transform: uppercase;
// margin: 0px 0px 10px 0px;
// padding: 0px;
//}
//.section-text {
// color: var(--secondary-text-color);

// font-weight: 400;
// font-size: 14px;
//line-height: 1.71;
// margin: 0px;
// padding: 0px;
//}
