.page-footer {
  background: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  align-items: center;
}
.adress-ul {
  list-style: none;
  text-decoration: none;
  margin-left: 0px;
  padding-left: 0px;
}
.adress-items {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.address {
  color: var(--secondary-accent-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
}
.address-auth {
  color: var(--contacts-text-footer);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.text-footer {
  color: var(--secondary-accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 60px;
}
.all-footer-container {
  display: block;
  align-items: center;
}
.list-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social-item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.list-item-footer {
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-right: 0px;
  }
}
.social-svg-footer {
  fill: var(--secondary-accent-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-mailing {
  margin-left: 0px;
}
.mailing-btn-wraper {
  display: block;
}
.text-mailing {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  margin-top: 60px;
  margin-bottom: 20px;
}
.btn-for-mailing {
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 62px 10px 29px;
  margin-top: 20px;
  //margin-left: 130px;
}
.mail-input-wraper {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-footer);
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}
.position-svg-icon {
  padding-left: 10px;
  padding-top: 13px;
  align-items: center;
  justify-content: center;
}
.my-send-icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 480px) {
  .btn-for-mailing {
    margin-left: 130px;
  }
}
@media screen and (min-width: 768px) {
  .text-footer {
    margin-top: 0px;
  }
  .mail-input-wraper {
    width: 450px;
  }
  .all-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .box-social-link {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: start;
  }
  .adress-items {
    margin-bottom: 9px;
  }
  .text-footer {
    margin: 0;
  }
  .box-social-link {
    margin-left: 50px;
    padding-top: 10px;
    margin-bottom: 80px;
  }
  .list-social-footer {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .social-item-footer {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  .list-item-footer {
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  .social-svg-footer {
    &:hover,
    &:focus {
      fill: var(--secondary-accent-color);
    }
  }
  .all-footer-container {
    flex-wrap: nowrap;
  }
  .footer-adress {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .box-mailing {
    margin-left: 93px;
    margin-bottom: 60px;
  }
  .mailing-btn-wraper {
    display: flex;
  }
  .text-mailing {
    margin-top: 0px;
  }
  .btn-for-mailing {
    margin-left: 12px;
    margin-top: 0px;
  }
}
// .page-footer {
//   background: var(--bg-footer);

//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .adress-ul {
//   list-style: none;
//   text-decoration: none;

//   margin-left: 0px;
//   padding-left: 0px;
// }
// .adress-items {
//   margin-bottom: 9px;
//   &:last-child {
//     margin-bottom: 0px;
//   }
// }
// .address {
//   color: var(--secondary-accent-color);
//   text-decoration: none;

//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;

//   margin: 0px;
// }
// .address-auth {
//   color: var(--contacts-text-footer);
//   text-decoration: none;

//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
// }
// .text-footer {
//   color: var(--secondary-accent-color);

//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.17;
//   text-transform: uppercase;
//   margin: 0px;
// }

// .box-social-link {
//   margin-left: 50px;
//   padding-top: 10px;
// }
// .list-social-footer {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   margin-top: 20px;
// }
// .social-item-footer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   &:hover,
//   &:focus {
//     fill: var(--accent-color);
//   }
// }
// .list-item-footer {
//   justify-content: flex-start;
//   align-items: center;
//   border-radius: 50%;
//   margin-right: 10px;
//   width: 44px;
//   height: 44px;
//   background-color: rgba(255, 255, 255, 0.1);
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:last-child {
//     margin-right: 0px;
//   }
//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//   }
// }
// .social-svg-footer {
//   fill: var(--secondary-accent-color);
//   width: 20px;
//   height: 20px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     fill: var(--secondary-accent-color);
//   }
// }
// .all-footer-container {
//   display: flex;
// }
// .footer-adress {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .box-mailing {
//   margin-left: 93px;
// }
// .mailing-btn-wraper {
//   display: flex;
// }
// .text-mailing {
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--secondary-accent-color);
//   margin-bottom: 20px;
// }
// .btn-for-mailing {
//   display: flex;
//   position: relative;
//   width: 200px;
//   height: 50px;
//   background-color: var(--accent-color);
//   font-family: Roboto, sans-serif;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;
//   outline: none;
//   color: var(--secondary-accent-color);
//   border-radius: 4px;
//   margin-left: 12px;
//   padding: 10px 62px 10px 29px;
// }
// .mail-input-wraper {
//   display: flex;
//   width: 358px;
//   height: 50px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   border-radius: 4px;
//   background-color: var(--bg-footer);
//   padding-left: 16px;
//   color: rgba(117, 117, 117, 0.5);
// }
// .position-svg-icon {
//   padding-left: 10px;
//   padding-top: 13px;
//   align-items: center;
//   justify-content: center;
// }
// .my-send-icon {
//   width: 24px;
//   height: 24px;
// }
