.page-header {
  position: relative;
  text-decoration-color: none;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-bottom);
  margin: 0px;
  padding: 0px;
}
.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-top: 22px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.menu-button.is-open .icon-menu {
  display: none;
}
.wraper-for-menu-nav {
  &.is-open {
    display: block;
  }
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    min-height: 450px;
    background-color: #ffffff;
    align-items: center;
    border: 1px solid #ececec;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.main-navigation {
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.navigation-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    padding: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.links-transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0px;
    margin-top: 40px;
    opacity: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    opacity: 1;
    color: var(--accent-color);
  }
}
.current {
  &::after {
    opacity: 1;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
  }
  .wraper-for-menu-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    & a:hover,
    & a:focus {
      color: var(--accent-color);
    }
  }
}
.site-nav .current {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
}
.auth-nav-svg {
  fill: var(--logo-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.link-auth-nav-svg {
  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);
  }
}
.list-contacts {
  display: flex;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: center;
    &:last-child {
      margin-top: 16px;
    }
    &:first-child {
      margin-top: 60px;
    }
  }
}
.auth-nav a {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .wraper-for-menu-nav {
    display: flex;
  }
  .container.main-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav a {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    margin-left: 250px;
  }
  .auth-nav a {
    margin-left: 30px;
  }
}
.icon-cross {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
// @media screen and (min-width: 1200px) {
//   .list-contacts {
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }
//   .auth-nav .list-contacts + & {
//     margin-left: 50px;
//   }
// }
.icon-menu:hover,
.icon-menu:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    text-align: center;
  }
  .menu-link {
    &::after {
      bottom: -20px;
    }
  }
}
