.all-portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background: var(--bg-box);

  margin: 0px;
  padding: 0px;
}
.box a {
  margin: 0px;
  padding: 0px;
}
.portfolio-card {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  &:hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.section-cards {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 60px;
}
.portfolio-link {
  color: var(--primary-text-color);
  background: var(--bg-box);
  text-decoration: none;

  margin: 0px;
  padding: 0px;
}
.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0px;
}
.section-text-type {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;

  margin-top: 4px;
  margin-bottom: 0px;
}
.portfolio-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.image-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;

  & > .overlay {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--bg-secondary);
    background-color: var(--accent-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: 250ms ease;
    opacity: 0;
  }
  &:hover > .overlay {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card {
    width: 354px;
    &:nth-child(even) {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .all-portfolio-list {
    margin: -15px;
  }
  .portfolio-card {
    width: 370px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
    // &:nth-child(3) {
    //   margin-right: -30px;
    // }
    // &:nth-child(6) {
    //   margin-right: -30px;
    // }
    // &:nth-child(9) {
    //   margin-right: -30px;
    // }
  }
  .section-cards {
    padding-bottom: 94px;
  }
}

// .portfolio-card {
//   width: 100%;
//   margin-right: 30px;
//   margin-bottom: 30px;
//   border: 1px solid #eeeeee;
//   &:hover {
//     border: 1px solid #eeeeee;
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
//   &:nth-child(3) {
//     margin-right: -30px;
//   }
//   &:nth-child(6) {
//     margin-right: -30px;
//   }
//   &:nth-child(9) {
//     margin-right: -30px;
//   }
//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0px;
//   }
// }
// .section-cards {
//   margin: 0px;
//   padding-top: 0px;
//   padding-bottom: 94px;
// }
// .portfolio-link {
//   color: var(--primary-text-color);
//   background: var(--bg-box);
//   text-decoration: none;

//   margin: 0px;
//   padding: 0px;
// }
// .portfolio-name {
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;

//   margin: 0px;
// }
// .section-text-type {
//   color: var(--secondary-text-color);

//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.89;

//   margin-top: 4px;
//   margin-bottom: 0px;
// }
// .portfolio-padding {
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-left: 24px;
//   padding-right: 24px;
// }
// .image-thumb {
//   position: relative;
//   width: 370px;
//   height: 294px;
//   overflow: hidden;

//   & > .overlay {
//     position: absolute;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 1.55;
//     color: var(--bg-secondary);
//     background-color: var(--accent-color);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 63px 24px;
//     transform: translateY(100%);
//     transition: 250ms ease;
//     opacity: 0;
//   }
//   &:hover > .overlay {
//     opacity: 1;
//     transform: translateY(0%);
//   }
// }
