html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
}
.img {
  display: block;
  width: 100%;
}
.body {
  color: var(--primary-text-color);
  background: var(--bg-primary);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;

  margin: 0;
}
input {
  font-family: inherit;
}
.list {
  list-style: none;

  margin: 0;
  padding: 0;
}
