:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --contacts-text-footer: rgba(255, 255, 255, 0.6);
  --bg-header: #ffffff;
  --bg-hero: #c4c4c4;
  --bg-footer: #2f303a;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f4fa;
  --bg-box: #ffffff;
  --border-bottom: #ececec;
  --shadow: rgba(47, 48, 58, 0.4);
  --border-clients: #afb1b8;
  --logo-color: #afb1b8;
}
